<launch>
	
	<node pkg="rosbag" type="play" name="rosbag1" output="log" args="--pause $(find hnn)/bag/2019-10-30-00-01-06.bag" />

	<group ns="robot1">
		
		<node name="hnnNode" pkg="hnn" type="hnn_node" respawn="false" output="log" args="0" >
			<rosparam param="realVector">[0.9, 0.9]</rosparam>
			
			<param name="hfAlpha" value="3000.0" />
			<param name="hfBeta" value="1.0" />
		</node>
	</group>

	<group ns="robot2">
		
		<node name="hnnNode" pkg="hnn" type="hnn_node" respawn="false" output="log" args="1" >
			<rosparam param="realVector">[1.0, 1.0]</rosparam>
			
			<param name="hfAlpha" value="3000.0" />
			<param name="hfBeta" value="1.0" />
		</node>
	</group>

	<group ns="robot3">
		
		<node name="hnnNode" pkg="hnn" type="hnn_node" respawn="false" output="log" args="2" >
			<rosparam param="realVector">[1.0, 1.0]</rosparam>
			
			<param name="hfAlpha" value="3000.0" />
			<param name="hfBeta" value="1.0" />
		</node>
	</group>


	<node pkg="rviz" type="rviz" name="rviz1" args="-d $(find hnn)/launch/robots.rviz" /> 

	<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot1" args="/robot1/estErr /robot2/estErr /robot3/estErr" /> 
</launch>
